*node_modules*
*npm-debug*
*dist*
.idea
.DS_Store
.orig
*.tmp*
web/dll/vendor-manifest.json
yarn.error
yarn-error.log

logs*
!logs/.gitkeep

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
